{
  "home": {
    "user": "username",
    "sshuser": "username",
    "gitName": "Real Name",
    "gitEmail": "yourmail@mail.com",
    "hostname": "hostname",
    "password": "password_hash"
  },
  "work": {
    "user": "work username",
    "sshuser": "username",
    "gitName": "Real Name",
    "gitEmail": "work@mail.com",
    "hostname": "work hostname",
    "password": "password_hash"
  }
}
